<div class="alert alert-info">
  <p>Hello</p><br> 
</div>
<div>
  <form>
  <p>Date: {{this.trip.date|  date:'shortDate'}}</p>
  <p>Begin Time: {{this.trip.beginTime}}</p>
  <p>BookingStatus: {{this.trip.bookingStatus}}</p>
  <p>Total Trip Hours: {{this.trip.totalTripHours}}</p>
  <p>Sites:</p>
  <div *ngFor="let site of tripSites">{{site.Name}}</div>
  <p>Equipment:</p>
  <div *ngFor="let site of tripSites">{{site.Equipment}}</div>
</form>
<button [hidden]="isOld" (click)="saveTrip()">save trip</button>
</div>