<div class="container">
  <div class="row justify-content-md-center">
    <section class="col-md-auto">
      <div class="alert alert-danger">
        User: <strong>{{user}}</strong> just logged in!!
      </div>
      <div>
        <strong>Usage of pipes:</strong>
      </div>
      <div>
        <ul>
          <li style="list-style: inside">
            <div><strong>Pipe to shorten a long string... with and without it.</strong></div>
            <div [appBgColor]="'pink'"><strong>without:</strong> {{longBoringInfo}}</div>
            <div appBgColor><strong>with:</strong> {{longBoringInfo|shortStr}}</div>
          </li>
          <li style="list-style: inside">
            <div>
              <div><strong>Pipe to search for a user by their contactName. Start typing: "Sara", "Raffi", or
                  "Bracha".</strong></div>
              <input type="text" [(ngModel)]="search" />
              <p>
                <app-user *ngFor="let user of users| filter:search" [user]="user"
                (userAdded)="onAdded($event)" (userDeleted)="onDeleted($event)">
              </app-user>
              <br>
              <app-user-updates [userUpdatesAdded]="userAdded1" [userUpdatesDeleted]="userDeleted1">                
              </app-user-updates>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>