.calendar
{
    height: 50%;
    width: 50%;
}
.btn-color
{
    background-color:#007ad9 ;
    color: white;
}
.center {
    display: inherit;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
  }

  .items {
    padding-left: 15%;
  }