
<!-- <div class="intro-button mx-auto">
   <button class="btn btn-primary btn-xl" (click)="viewTrips()">View Your Trips</button>
</div>
<ul [hidden]="hidden">
   <li *ngFor="let trip of clientTrips">
      <app-trip [trip]="trip"></app-trip>
   </li>
</ul> -->
<h1>Let's Begin!!</h1>
<p><b>What address are we leaving from?</b></p>
<input type="text" [(ngModel)]="leavingAddress">

<p><b>How many people are in your group?</b></p>

<input type="number" [(ngModel)]="numOfPeople" min="1" max="20">
<p>Selected number: {{numOfPeople ?numOfPeople : 'none'}}</p>
<p><b>Select time to begin trip:</b></p>
<app-time-picker></app-time-picker> 
<p><b>Select date:</b></p>
<app-calendar [style]="{'height':'1000px'}"></app-calendar>
<!-- <app-newcalendar (chosenDate)="saveDateToTrip($event)"></app-newcalendar> -->
<br>
 
 <div class="intro-button mx-auto">
    <button class="btn btn-primary btn-xl" (click)="continue()">continue</button>
</div>
<br>



