
<p class="items"><b>Select date:</b></p>
<app-calendar class="center"></app-calendar>

<!-- <form class="center"> -->
<div class="items">
<p><b>What address are we leaving from?</b></p>
<div class="ui-g ui-fluid">
   <div class="ui-g-4  ui-md-2">
       <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-home" style="line-height: 1.25;"></i></span>
        <input type="text" [(ngModel)]="leavingAddress"><br>        
       </div>
   </div>
</div>


<p><b>How many people are coming?</b></p>
<div class="ui-g ui-fluid">
    <div class="ui-g-4  ui-md-2">
        <div class="ui-inputgroup">
         <span class="ui-inputgroup-addon"><i class="pi pi-users" style="line-height: 1.25;"></i></span>
         <input type="number" [(ngModel)]="numOfPeople" min="1" max="20">         
        </div>
    </div>
</div>


<p><b>Choose when to start:</b></p>
<app-time-picker></app-time-picker>
<br>
 
 <div class="intro-button mx-auto">
    <button class="btn  btn-xl btn-color" (click)="continue()">All set, let's continue -></button>
</div>
<br>
</div>
<!-- </form>
  -->

