<div class="container">
  <div class="row justify-content-md-center">
    <section class="col-md-auto">
      <form (ngSubmit)="onSubmitForm()" #signupForm="ngForm" class="text-left border border-light p-5">
        <div appWarning *ngIf="gotResponse==true">
          Email or password are incorrect.
        </div>
        <p>
          Sign in:
        </p>
        <div>
          Email:
          <div appWarning *ngIf="!submitted&&femail.touched&&femail.value==''">
            Please enter your email address.
          </div>
          <div appWarning *ngIf="femail.invalid&&femail.touched&&femail.value!=''">
            Please make sure to enter a valid email address.
          </div>
          <div appWarning *ngIf="submitted&&femail.value==''&&femail.errors?.required">
            The email is required.
          </div>
          <input class="form-control mb-4" [(ngModel)]="email" name="email" #femail="ngModel" required email
            placeholder="example@example.com">
        </div>
        <div>
          Password:
          <div appWarning *ngIf="submitted&&fpassword.value==''">
            The password is required.
          </div>
          <div appWarning *ngIf="!submitted&&fpassword.touched&&fpassword.value==''">
            Please enter your password.
          </div>
          <input type="password" [(ngModel)]="password" name="password" #fpassword="ngModel" class="form-control mb-4"
            required>
        </div> 
        <div *ngIf="gotResponse==true">
          <a class="nav-link" routerLink="/register">Are you not registred yet? Register Now!!</a> 
        </div>       
        <button class="btn btn-info btn-block my-4 btn-color" type="submit" >Submit</button>
      </form>
    </section>
  </div>
</div>
