.btn-color
{
    background-color:#007ad9 ;
    color: white;
}
.btn-color:hover
{
    background-color:#75491b;
    font-size: larger;
}

.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.5em;
    height: 1.5em;
  }

.clr{
    
    background-color:#007ad9 ; 
}

.footer-clr
{
    background-color:#75491b;
}