<section  id="home">
  <br>
  <br>
</section>
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/img/Masada.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Touring Israel</span>
          <span class="section-heading-lower">Done right</span>
        </h2>
        <p class="mb-3">Join us for an experience you'll never forget...
        </p>
        <div class="intro-button mx-auto">
          <button class="btn btn-color btn-xl " (click)="move()">Plan your trip to Israel Today!</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta clr">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
          </h2>
          <p class="mb-0">When you plan your trip with Nof Tours, we are dedicated to providing you with friendly
            service, comfortable transportaion , and above all else, bring you in touch with the best touring locations,
            attractions, and anything else you might want to do in Israel.
            If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="page-section cta footer-clr">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Prices</span>
          </h2>
            <app-price-table></app-price-table>  
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-price-table></app-price-table>
<app-reviews></app-reviews>

<footer class="footer text-faded  py-4 footer-clr ">
  <div class="container" style="color: white;">
    <label for="s1">Contact us:</label>
    <p id="s1" class="m-0 small">NofTours@gmail.com</p>
    <p class="m-0 small">0548410582</p>
    <p class="m-0 small">Shaulzon 60, Har Nof, Jerusalem</p>
    <p class="m-0 small text-center text-faded">Copyright &copy; NofTours 2019</p> 
  </div>
</footer>