.btn-color
{
    background-color:#007ad9 ;
    color: white;
}
.btn-color:hover
{
    background-color:#75491b;
    font-size: larger;
}

.clr{
    
    background-color:#007ad9 ; 
}

.footer-clr
{
    background-color:#75491b;
}