

<p-messages [(value)]="msgs"></p-messages>
<div>Thank you so much for ordering a trip through nofTours!!!</div>
<!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false" [autoPlay]="true"></p-galleria> -->
<div>See some of our costumers great reviews!</div>
<section id="reviews">
    <div class="p-grid">
      <div id="reviews" class=p-col-12>
        <p>&nbsp;&nbsp;</p>
      </div>
      <p-card class="p-col-4">
        <div data-packed="false" data-min-height="171" class="txtNew"
          style="width: 198px; min-height: 171px; pointer-events: none;">
          <p class="font_8" style="font-size:18px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:marck script,cursive;"><span style="color:#000000;">We had a wonderful time with you!
                  Such fond memories.</span></span></span></p>
  
          <p class="font_8" style="font-size:18px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:marck script,cursive;"><span style="color:#000000;">Thank you!</span></span></span>
          </p>
  
          <p class="font_8" style="font-size:18px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:marck script,cursive;"><span style="color:#000000;"><span
                    class="wixGuard">​</span></span></span></span></p>
  
          <p class="font_8" style="font-size:18px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:marck script,cursive;"><span style="color:#000000;">Miriam R.</span></span></span>
          </p>
        </div>
      </p-card>
      <p-card class="p-col-4">
        <div data-packed="false" data-min-height="165" class="txtNew" id="comp-jh7ai9qu"
          style="width: 258px; min-height: 165px; pointer-events: none;">
          <p class="font_8" style="font-size:24px; line-height:1.3em;"><span style="font-size:24px;"><span
                style="font-family:dancingscript-regular,dancing script,cursive;"><span
                  style="letter-spacing:0.03em;"><span style="color:#000000;">Thank you very much. Everyone was
                    raving
                    about the quality of the tours and the tour guides.</span></span></span></span></p>
  
          <p class="font_8" style="font-size:24px; line-height:1.3em;">&nbsp;</p>
  
          <p class="font_8" style="font-size:24px; line-height:1.3em;"><span style="font-size:24px;"><span
                style="font-family:dancingscript-regular,dancing script,cursive;"><span
                  style="letter-spacing:0.03em;"><span style="color:#000000;">Michael R.</span></span></span></span>
          </p>
        </div>
      </p-card>
      <p-card class="p-col-4">
        <div data-packed="false" data-min-height="165" class="txtNew" id="comp-jh7auqe9"
          style="width: 290px; min-height: 165px; pointer-events: none;">
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:lobster,cursive;"><span
                style="color:#000000;"><span style="font-size:20px;">Hi!</span></span></span></p>
  
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:lobster,cursive;"><span
                style="font-size:20px;"><span style="letter-spacing:0.03em;"><span style="color:#000000;">We just wanted
                    to let you know we are still grinning when we think about our day yesterday.&nbsp;<br>
                    Thank You for a trip that made wonderful memories.</span></span></span></span></p>
  
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:lobster,cursive;"><span
                style="font-size:20px;"><span style="letter-spacing:0.03em;"><span style="color:#000000;"><span
                      class="wixGuard">​</span></span></span></span></span></p>
  
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:lobster,cursive;"><span
                style="font-size:20px;"><span style="letter-spacing:0.03em;"><span style="color:#000000;">Fraidy
                    G.</span></span></span></span></p>
        </div>
      </p-card>
      <p-card class="p-col-6">
        <div data-packed="false" data-min-height="300" class="txtNew" id="comp-jh7awq5g"
          style="width: 587px; min-height: 165px; pointer-events: none;">
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">I am beyond thrilled
                  that I found Tami from&nbsp; &nbsp;Nof Tours.</span></span></span></p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">I know I took a huge
                  chance by booking 5 days of tours (2 overnights) with a complete stranger. </span></span></span></p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">But right away, I
                  felt
                  at ease with her.&nbsp; We connected instantly, and the amount of time and effort she put into my
                  trip
                  is beyond amazing.&nbsp; She never got tired (or at least, didn't let me know) of my million and one
                  questions and changes. On the trips, she was so flexible, working with us, instead of just plugging
                  along with the agreed plan.&nbsp; </span></span></span></p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">I am forever
                  grateful
                  for how wonderful she made our trip!</span></span></span></p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;">&nbsp;</p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">For detailed
                  accounts
                  of our tours, visit my blog...</span></span></span></p>
          <!-- 
                    http://jewwithanattitude.blogspot.co.il/2018/05/leah-versus-red-sea.html
  
                    http://jewwithanattitude.blogspot.co.il/2018/05/a-fun-sandwich-type-of-day.html
  
                    http://jewwithanattitude.blogspot.co.il/2018/05/belated-lag-bomer-up-north.html
  
                    http://jewwithanattitude.blogspot.co.il/2018/05/continuing-adventures-up-north.html -->
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span
                  style="color:#000000;">&nbsp;</span></span></span></p>
  
          <p class="font_8" style="font-size:22px; line-height:1.3em;"><span style="font-size:22px;"><span
                style="font-family:reklamescriptw00-medium,cursive;"><span style="color:#000000;">L.
                  P.</span></span></span></p>
        </div>
      </p-card>
      <p-card class="p-col-4">
        <div data-packed="false" data-min-height="112" class="txtNew" id="comp-jh7b772c"
          style="width: 279px; min-height: 112px; pointer-events: none;">
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:sarina,cursive;"><span
                style="font-size:20px;"><span style="color:#000000;">I just
                  wanted to say thank you. Our trip was
                  amazing!!</span></span></span></p>
  
          <p class="font_8" style="font-size:20px; line-height:1.3em;"><span style="font-family:sarina,cursive;"><span
                style="font-size:20px;"><span style="color:#000000;">R.L.</span>&nbsp;</span></span>
          </p>
        </div>
      </p-card>
    </div>
  </section>
  
  
  <footer class="footer text-faded text-center py-5 footer-clr ">
    <div class="container">
      <p class="m-0 small">Copyright &copy; NofTours 2019</p>
    </div>
  </footer>