<div class="p-grid">
  <div class="p-offset-3 p-col-6">
    <p-messages [(value)]="msgs"></p-messages>
    <div style="text-align: center;" class="font_8">
      <strong>
        <p style="font-size: xx-large;">Thank you for choosing Nof Tours!</p>
      </strong>
    </div>
  </div>

  <!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false" [autoPlay]="true"></p-galleria> -->
  <app-reviews></app-reviews>
</div>

<footer class="footer text-faded text-center py-5 footer-clr ">
  <div class="container">
    <p class="m-0 small">Copyright &copy; NofTours 2019</p>
  </div>
</footer>