
a.navbar-brand {
    color: #d9f1cb;
    font-size: 1.5rem;
}
a.navbar-brand:hover{
    color: #417523;
}

.navbar-dark .navbar-nav .active>.nav-link:hover{
    color: rgb(99, 84, 81);
    font-size: larger;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: rgb(232, 163, 146);
}