.navclr
{
    background-color: #75491b;;
}
.navlinkclr
{
 color:#007ad9;
}
a.navbar-brand {
    /* color: #007ad9; */
    color: white;
    font-size: 1.5rem;
}
a.navbar-brand:hover{
    color: #007ad9;
 
}
 .navbar-nav .active>.nav-link:hover{
    /* color: rgb(99, 84, 81); */
    /* color: #007ad9; */
    color: white;
    font-size: larger;
}

.navbar-nav .active>.nav-link{
    /* color: rgb(232, 163, 146); */
    /* color: #007ad9; */
    color: white;
}

