

 <br><br>
 <div>Hello Admin!</div>  
<p-tabView>
    <p-tabPanel header="View Trips">
        <div class="p-grid">
            <p-card class="ui-g-10 ui-md-10 p-col-11 search" header="Choose the range of dates:">
                <div class="p-grid p-justify-center">
                    <div class="p-col-5">
                        <p-calendar class="cl"  #calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                            [disabledDates]="invalidDates" [disabledDays]="[6]"  [minDate]="minDate"
                            [showButtonBar]="false" >
                        </p-calendar>
                    </div>
                    <div>
                        <div class="p-col-2">
                            <button type="button" [hidden]="searchHidden" pButton label="Search"
                                (click)="viewOrderedTrips()"></button>
                            <button type="button" [hidden]="clearSearchHidden" pButton label="Clear Search"
                                (click)="clearSearch();"></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <p-table #dt styleClass="ui-table-cars" [value]="trips" [paginator]="true" [rows]="10" selectionMode="single">
            <ng-template pTemplate="caption">
                List of Trips
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Client Id</th>
                    <th>Date</th>
                    <th>Begin Time</th>
                    <th>Total Trip Hours</th>
                    <th>Leaving Adrress</th>
                    <th>Num Of People</th>
                    <th>Cost</th>
                    <th>Sites</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-trip>
                <tr>
                    <td>{{trip.clientId}}</td>
                    <td>{{trip.date|  date:'EEEE dd.MM.yy'}}</td>
                    <td>{{trip.beginTime}}</td>
                    <td>{{trip.totalTripHours}}</td>
                    <td>{{trip.leavingAdrress}}</td>
                    <td>{{trip.numOfPeople}}</td>
                    <td>{{trip.cost}}</td>
                    <td>   
                    <div *ngFor="let tripSite of trip.tripSites">
                    {{getTripSiteName(tripSite)}}</div>     
                </td>
                </tr>
            </ng-template>
        </p-table> 
      
    </p-tabPanel>
    <p-tabPanel header="Add Site">
        <div class="p-field p-grid">
            <label for="addedSite.name" class="p-col-fixed" style="width:100px">Name</label>
            <div class="p-col">
                <input  [(ngModel)]="addedSite.name" id="Name" type="text" pInputText> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.area" class="p-col-fixed" style="width:100px">Area</label>
            <div class="p-col">
                <input  [(ngModel)]="addedSite.area" id="Area" type="text" pInputText> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.price" class="p-col-fixed" style="width:100px">Price</label>
            <div class="p-col">
                <input [(ngModel)]="addedSite.price" id="Price" type="text" pInputText> 
            </div>       
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.openingHour" class="p-col-fixed" style="width:100px">Opening Hour</label>
            <div class="p-col">
                <input [(ngModel)]="addedSite.openingHour" id="OpeningHour" type="time" pInputText> 
            </div>       
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.closingHour" class="p-col-fixed" style="width:100px">Closing Hour</label>
            <div class="p-col">
                <input [(ngModel)]="addedSite.closingHour" id="ClosingHour" type="time" pInputText> 
            </div>       
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.description" class="p-col-12" style="width:100px">Description</label>
            <div class="p-col">
                 <textarea [(ngModel)]="addedSite.description" id="Description" type="text" rows="2" pInputTextarea></textarea>
            </div>       
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.category" class="p-col-fixed" style="width:100px">Category</label>
            <div class="p-col">
                <input [(ngModel)]="addedSite.category" id="Category" type="text" pInputText> 
            </div>       
        </div>
        <div class="p-field p-grid">
            <label for="addedSite.estimatedStay" class="p-col-fixed" style="width:100px">Estimated Stay</label>
            <div class="p-col">
                <input  [(ngModel)]="addedSite.estimatedStay" id="EstimatedStay" type="time" pInputText> 
            </div>       
        </div>
        <button pButton type="button" label="Submit" (click)="saveSite()"></button>
    </p-tabPanel>
    <!-- <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel> -->
</p-tabView>