
<div class="container">
    <!-- <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>We are here for you:</p>
      <p class="m-0 medium">NofTours@gmail.com</p>
      <p class="m-0 medium">0548410582</p>
      <p class="m-0 medium">Shaulzon 42, Har Nof, Jerusalem</p>
    </div> -->
    <div class="row">
      <div class="column">
        <img src="../../../assets/new logo-1 (1).svg" style="width:100%">       
      </div>
      <div class="column">
            <div class="container text-align:center"  style="color: black;">
                <p class="m-0 medium">NofTours@gmail.com</p>
                <p class="m-0 medium">0548410582</p>
                <p class="m-0 medium">Shaulzon 42, Har Nof, Jerusalem</p>
            </div>
    </div>  
    </div>
</div>
